*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  padding: 0;
  margin: 0;
  color: #222;
}

button {
  font-size: 1rem;
  color: #222;
  background-color: #fff;
  border: 1px solid #222;
  border-radius: 6px;
}

button:hover {
  background-color: #ccc;
}

button:active {
  color: #fff;
  background-color: #222;
}

.new-book {
  font-size: 1.3rem;
  padding: 8px 18px;
}

.x-button-cont {
  display: flex;
  justify-content: end;
}

.x-button-cont button {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.book-change-read {
  margin-left: 10px;
}

body > div:first-child {
  margin: 12px 0;
  display: grid;
  place-items: center;
}

dialog {
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
}

dialog::backdrop {
  background: rgb(0, 0, 0, 0.5);
}

.text-inputs {
  display: flex;
  flex-direction: column;
}

.text-inputs label {
  margin-bottom: 4px;
}

.text-inputs input {
  font-family: inherit;
  font-size: 1.2rem;
  appearance: none;
  outline: none;
  border: 2px solid #222;
  border-radius: 3px;
  padding: 0 3px;
  margin-bottom: 16px;
}

.text-inputs input:focus {
  border-color: #4242cc;
}

dialog input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
}

.dialog-buttons {
  margin: 18px 0 8px;
  display: flex;
  justify-content: end;
  gap: 12px;
}

.dialog-buttons button {
  font-size: 1.2rem;
  padding: 6px 18px;
}

.table-container {
  display: grid;
  place-items: center;
}

table {
  border-collapse: collapse;
}

tbody tr:nth-child(even) {
  background-color: #e6e6e6;
}

table th,
table td {
  border: 1px solid #222;
  padding: 5px 12px;
}

table th:last-child,
table td:last-child {
  border: none;
  background-color: #fff;
}

.remove-book {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}
