*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  padding: 0;
  margin: 0;
  color: #222;
}

dialog {
  font-size: 1.2rem;
  border: 2px solid #222;
  border-radius: 10px;
}

.x-button-cont {
  display: flex;
  justify-content: end;
}

.x-button-cont button {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fff;
  border: 1px solid #222;
  border-radius: 50%;
  font-size: 1rem;
  color: #222;
  display: grid;
  place-items: center;
}

.text-inputs {
  display: flex;
  flex-direction: column;
}

.text-inputs label {
  margin-bottom: 4px;
}

.text-inputs input {
  font-family: inherit;
  font-size: 1.2rem;
  appearance: none;
  outline: none;
  border: 2px solid #222;
  border-radius: 3px;
  padding: 0 3px;
  margin-bottom: 16px;
}

.text-inputs input:focus {
  border-color: #4242cc;
}

dialog input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
}

.dialog-buttons {
  margin: 18px 0 8px;
  display: flex;
  justify-content: end;
  gap: 12px;
}

.dialog-buttons button {
  font-size: 1.2rem;
  color: #222;
  background-color: #fff;
  padding: 6px 18px;
  border: 1px solid #222;
  border-radius: 5px;
}

button:hover {
  background-color: #ccc;
}

button:active {
  color: #fff;
  background-color: #222;
}
